# Options for controller job
controller:
  # Controller name
  name: "template"
  # Controller working directory
  path: "path_to_controller"
  # Storage limit
  storagelimit: "10G"
  # Controller STDOUT and STDERR write mode
  writemode: "append"
  # Controller time limit
  timelimit: "1-00:00:00"
  # Controller buffer time
  buffertime: "00:05:00"
  # Lock down node(s) for controller?
  exclusive: false
  # Requeue job on node failure
  requeue: true

# Options for remote database
db:
  # Database type
  api: "db_mongodb"
  # Database name
  name: "MLEARN"
  # Database host
  host: "129.10.135.170"
  # Database port
  port: "27017"
  # Database username
  username: "manager"
  # Database password
  password: "toric"
  # Database writeconcern
  writeconcern: "majority"
  # Database fsync
  fsync: false
  # Database collections
  collections:
    - "FACET"
  # Database query
  query: 
    facetfinetriangsMARK:
      false
  # Database projection
  projection:
    NFORM: 1
    NFORM2SKEL: 1
  # Database hint
  hint:
  # Database skip
  skip:
  # Database limit
  limit: 
  # Database sort
  sort:
  # Base collection
  basecollection: "FACET"
  # Field in base collection that determines number of tasks
  nprocsfield: 

# Options for batch jobs
job:
  # Job STDOUT and STDERR write mode
  writemode: "truncate"
  # Requeue job on node failure
  requeue: true
  # Job memory limit
  memorylimit: "500M"
  # Job time limit
  timelimit: 
  # Job buffer time
  buffertime: "00:01:00"
  # Job limits
  jobs:
    max: 50

# Options for module
module:
  # Module name
  name: "facetfinetriangs"
  # Module language
  language: "bash"
  # Arguments to module
  args:

# Other options
options:
  # Block until dependencies are finished
  blocking: false
  # Generate intermediate log file
  intermedlog: true
  # Generate intermediate output files
  intermedlocal: true
  # Generate output log file
  outlog: true
  # Generate output files
  outlocal: true
  # Write output to database
  outdb: true
  # Generate output files for statistics
  statslocal: true
  # Write statistics to database
  statsdb: true
  # Write boolean field (modname)+(markdone) in database and set to true when output is written
  markdone: "MARK"
  # Clear completed records from input files after (cleanup) records have been processed
  cleanup: 100
  # When nrefill processors have completed, refill each with niters new documents to process
  nrefill: 5
  # Number of records in each input file to a job step
  niters: 200
  # Number of output records for each worker to write
  nbatch: 10
  # Maximum number of workers writing records simultaneously
  nworkers: 100