# Options for controller job
controller:
  # Controller name
  name: "template"
  # Controller working directory
  path: "path_to_controller"
  # Storage limit
  storagelimit: "10G"
  # Controller STDOUT and STDERR write mode
  writemode: "append"
  # Controller time limit
  timelimit: "1-00:00:00"
  # Controller buffer time
  buffertime: "00:05:00"
  # Lock down node(s) for controller?
  exclusive: false
  # Requeue job on node failure
  requeue: true

# Options for remote database
db:
  # Input database information
  input:
    # Database type
    api: "mongodb"
    # Database name
    name: "SUBCONES"
    # Database host
    host: "129.10.135.170"
    # Database port
    port: "27017"
    # Database username
    username: "raltman"
    # Database password
    password: "kreuzer"
    # Database writeconcern
    writeconcern: "majority"
    # Database fsync
    fsync: false
    # Database collections
    collections:
      - "POLY"
    # Database query
    query: 
      # H11: 
      #   $lte: 6
      overcountMARK: 
        $exists: false
    # Database projection
    projection:
      H11: 1
      POLYID: 1
      NVERTS: 1
      NFSRT: 1
      CONETOFACE: 1
      FACETOCONE: 1
    # Database hint
    hint: 
      # H11: 1
    # Database skip
    skip:
    # Database limit
    limit: 
    # Database sort
    sort:
    # Field in base collection that determines number of tasks
    nprocsfield: 
    # Base collection
    basecollection: "POLY"
  # Output database information
  output:
    # Database type
    api: "mongodb"
    # Database name
    name: "MLEARN"
    # Database host
    host: "129.10.135.170"
    # Database port
    port: "27017"
    # Database username
    username: "manager"
    # Database password
    password: "toric"
    # Database writeconcern
    writeconcern: "majority"
    # Database fsync
    fsync: false
    # Base collection
    basecollection: "OVERCOUNT"

# Options for batch jobs
job:
  # Job STDOUT and STDERR write mode
  writemode: "truncate"
  # Requeue job on node failure
  requeue: true
  # Job memory limit
  memorylimit: "500M"
  # Job time limit
  timelimit: 
  # Job buffer time
  buffertime: "00:01:00"
  # Job limits
  jobs:
    max: 50

# Options for module
module:
  # Module name
  name: "knitcones"
  # Module language
  language: 
  # Arguments to module
  args:

# Other options
options:
  # Reload this and crunch.config periodically
  reloadconfig: false
  # Block until dependencies are finished
  blocking: false
  # Generate intermediate log file
  intermedlog: true
  # Generate intermediate output files
  intermedlocal: false
  # Generate output log file
  outlog: true
  # Generate output files
  outlocal: false
  # Write output to database
  outdb: true
  # Generate output files for statistics
  statslocal: false
  # Write statistics to database
  statsdb: false
  # Write boolean field (modname)+(markdone) in database and set to true when output is written
  markdone: "MARK"
  # Clear completed records from input files after (cleanup) records have been processed
  cleanup: 100
  # When nrefill processors have completed, refill each with niters new documents to process
  nrefill: 5
  # Number of records in each input file to a job step
  niters: 200
  # Number of output records for each worker to write
  nbatch: 10
  # Maximum number of workers writing records simultaneously
  nworkers: 100